/* phone s */
.moonCradle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.moon {
    width: 140vh;
    height: 70vh;
    border-radius: 140vh 140vh 0 0;
    background: var(--moon);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2.5rem;
}

.craterWrapper {
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.moon h2 {
    margin-bottom: .75rem;
    text-align: center;
}

.moon ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
} 

.moon h3 {
    margin: 0;
}

.moon p {
    margin: 0;
    padding-top: 1rem;
}

.bio {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bio h2 {
    margin-bottom: .25rem;
}

.p4 a {
    margin: 0;
}

.p4 a:hover {
    text-decoration: var(--poppy) underline;
}

.miniPortrait {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.miniPortrait img {
    border-radius: 1px;
    box-shadow: var(--dusk) -8px 8px 0.5px;
}

.portrait {
    display: none;
}

.tech {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.tech li {
    margin-top: .5rem;
}

.tech p {
    padding: 0;  
}

/* phone xs */
@media (max-width: 22.3em) {
    .moon {
        width: 120vh;
        height: 70vh;
        border-radius: 120vh 120vh 0 0;
        overflow: scroll;
    }

    .moon p {
        padding-top: .7rem;
    }
}

/* phone m */
@media (min-width: 29.7em) {
    .craterWrapper {
        padding-top: .5rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}

/* tablet s */
@media (min-width: 43em) {
    .craterWrapper {
        overflow: hidden;
    }

    .moon ul {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .moon ul::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 3px;
    }
    
    .moon ul::-webkit-scrollbar-track {
        background: transparent;
    }
    
    .moon ul::-webkit-scrollbar-thumb {
        height: 50px;
        background: var(--mint);
    }

    .craterWrapper {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 2rem;
        padding-bottom: 1rem;
    }

    .miniPortrait {
        display: none;
    }

    .portrait {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    
    .portrait img {
        max-height: 100%;
        border-radius: 1px;
        box-shadow: var(--dusk) -8px 8px 0.5px;
    }

    .bio {
        width: 100%;
        max-height: 100%;
        padding-bottom: 0rem;
    }

    .bio ul {
        padding-right: .5rem;
    }

    .bio li {
        display: flex;
        justify-content: right;
        margin: 0;
    }

    .bio h2 {
        text-align: right;
    }

    .bio p {
        text-align: right;
    }

    .tech {
        padding-bottom: 0;
        max-height: 100%;
    }

    .tech h2 {
        text-align: left;
    }
}

/* tablet m */
@media (min-width: 51em) {
    .moon {
        width: 136vh;
        height: 68vh;
        border-radius: 136vh 136vh 0 0;
    }

    .bio {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .p1 {
        width: 65%;
    }
    
    .p2 {
        width: 72%;
    }
    
    .p3 {
        width: 77%;
    }
    
    .p4 {
        width: 95%;
    }

    .tech p {
        width: 80%;
    }
}

/* laptop */
@media (min-width: 62em) {   
    .moon {
        width: 132vh;
        height: 66vh;
        border-radius: 132vh 132vh 0 0;
    }

    .p1 {
        width: 55%;
    }
    
    .p2 {
        width: 60%;
    }
    
    .p3 {
        width: 65%;
    }
    
    .tech {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .tech li {
        margin-top: .3rem;
    }
    
    .tech p {
        width: 80%;
    }
}

/* desktop l */
@media (min-width: 104em) {
    .moon {
        width: 140vh;
        height: 70vh;
        border-radius: 140vh 140vh 0 0;
    }
    
    .p2 {
        width: 65%;
    }
    
    .p3 {
        width: 70%;
    }
}