.moonCradle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: scroll;
}

.moon {
    width: 140vh;
    height: 70vh;
    border-radius:  140vh 140vh 0 0;
    background: var(--moon);
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    gap: .5rem;
    justify-content: center;
    align-items: flex-end;
}

.moon h2 {
    font-size: 1.8rem;
}

.moon ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
} 

.moon li {
    margin-bottom: .5rem;
}

.moon h3 {
    font-size: 1.1rem;
    margin: 0;
}

.bio {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
}

.p1 {
    width: 55%;
    font-size: 1.1rem;
    text-align: right;
    margin: 0;
    margin-bottom: .8rem;
}

.p2 {
    width: 65%;
    font-size: 1.1rem;
    text-align: right;
    margin: 0;
    margin-bottom: .8rem;
}

.p3 {
    width: 75%;
    font-size: 1.1rem;
    text-align: right;
    margin: 0;
    margin-bottom: .8rem;
}

.portrait {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait img {
    max-height: auto;
    max-width: 65%;
    border-radius: 1px;
    box-shadow: black -8px 8px;
}

.tech {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: .5rem;
}

.tech p {
    width: 90%;
    font-size: 1.1rem;
    text-align: left;
    margin: 0;
}