/* phone */
.footer {
    width: 100%;
    height: 3rem;
    /* background: #325300; */
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 3;
    padding-right: 1rem;
}

.footer a {
    margin: 0.5rem;
    color: var(--dusk);
    transition: 0.3s ease-in-out;
}

.footer a:hover {
    color: var(--poppy);
}

/* tablet */
@media (min-width: 43em) {

    
}

/* laptop */
@media (min-width: 62em) {

    
}

/* desktop */
@media (min-width: 82em) {
    
}