.footer {
    width: 100%;
    height: 3rem;
    background: coral;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.footer nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.footer a {
    margin: 0.5rem;
}