.header {
    height: 8rem;
    width: 100%;
    /* background: coral; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    z-index: 3;
}

.header h1 {
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Spartan', sans-serif;
    letter-spacing: -0.2rem;
    margin: 1rem;
}

.header nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header a {
    font-weight: 500;
    text-decoration: none;
    color: var(--dusk);
    transition: 0.2s ease-in-out;
    /* border-bottom: transparent 3px solid; */
    /* padding-bottom: 0.2rem; */
    /* box-shadow: transparent -3px 3px; */
    /* padding: 0.5rem; */
}

.header a:hover {
    /* background: var(--poppy); */
    color: var(--poppy);
    /* box-shadow: var(--poppy) -3px 3px; */
    /* border-bottom: var(--poppy) 3px solid; */
}

@media (max-width: 600px) {
    .header h1 {
        font-size: 2.5rem;
    }
}