/* phone */
.projects {
    width: 60%;
    height: 100%;
    background: var(--moon);
    margin: 0;
    padding: 0;
}

.project {
    list-style: none;
    padding: 1.5rem;
    margin: 1rem;
    border: var(--poppy) 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project h2 {
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
}

.project h3 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

/* switch to these when editing back design */
/* .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front {
    display: none;
} */

.links {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--dusk);
}

.links a:hover {
    color: var(--poppy);
    transition: 0.3s ease-in-out;
}

.carousel {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.arrows {
    color: var(--dusk);
    cursor: pointer;
    z-index: 2;
}

.arrows:hover {
    color: var(--poppy);
    transition: 0.3s ease-in-out;
}


.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back {
    display: none;
}

.project:hover .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project:hover .front {
    display: none;
}

/* tablet */
@media (min-width: 43em) {

    
}

/* laptop */
@media (min-width: 62em) {

    
}

/* desktop */
@media (min-width: 82em) {
    
}