/* phone */
.projects {
    width: 95%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
}

.projects::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 3px;
    /* disable width scroll when site is scalable  */
}

.projects::-webkit-scrollbar-track {
    background: var(--mint);
    border: white 3px solid;
}

.projects::-webkit-scrollbar-thumb {
    height: 50px;
    background: var(--mint);
}

/* .projects::-webkit-scrollbar-thumb:hover {
    border-bottom: var(--dusk) 3px solid;
} */

.project {
    width: 84vw;
    height: auto;
    list-style: none;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: ease-out 0.3s;
}

.project h2 {
    padding: 0;
    padding-top: 3rem;
    margin: 0;
}

.project h3 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.moon {
    width: 84vw;
    height: 42vw;
    border-radius:  42vw 42vw 0 0;
    background: var(--moon);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.moon p {
    width: 70%;
    text-align: center;
}

.beam {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.carousel {
    height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel img {
    width: 100%;
    height:auto;
}

.back {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    transition:  0.5s ease-in-out;
}

.arrowWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrows {
    color: var(--dusk);
    cursor: pointer;
    z-index: 2;
}

.arrows:hover {
    color: var(--poppy);
    transition: 0.3s ease-in-out;
}

.tech {
    font-weight: 600;
}

.description {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    transition:  0.5s ease-in-out;
}

.links {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: var(--moon); */
    padding: .4rem;
}

.links a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--dusk);
}

.links a:hover {
    color: var(--poppy);
    transition: 0.3s ease-in-out;
}

/* tablet */
@media (min-width: 43em) {
    .projects {
        width: 80%;
        height: 100%;
    }
    
    .project {
        width: 36vw;
    }

    .moon {
        width: 36vw;
        height: 18vw;
        border-radius:  18vw 18vw 0 0;
    }
}

/* laptop */
@media (min-width: 62em) {
    .projects {
        width: 70%;
        height: 100%;
    }

    .project {
        width: 32vw;
    }

    .moon {
        width: 32vw;
        height: 16vw;
        border-radius:  16vw 16vw 0 0;
    }
}

/* desktop */
@media (min-width: 82em) {
    .projects {
        width: 60%;
        height: 100%;
    }

    .project {
        width: 26vw;
    }

    .moon {
        width: 26vw;
        height: 13vw;
        border-radius:  13vw 13vw 0 0;
    }
}