.cv {
    height: 90%;
    width: 60%;
    overflow: scroll;
    display: grid;
    grid-template-rows: 1fr 4fr;
    background: white;
    border: #FFD900 15px solid;
    padding: 1rem;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.tinyBoy {
    height: 50%;
}

.tinyBoy ul {
    list-style: none;
}