/* phone */
.pdfWrapper {
    width: 95%;
    height: 95%;
}

.pdf {
    width: 4rem;
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    color: black;
    background: var(--mint);
    border-radius: 2px;
    transition: 0.3s ease-in-out;
}

.pdf:hover {
    box-shadow: var(--poppy) -5px 5px;
}

.pdf:active {
    box-shadow: transparent 0px 0px;
    transform: translate3d(-5px, 5px, 0);
}

/* tablet */
@media (min-width: 43em) {

    
}

/* laptop */
@media (min-width: 62em) {

    
}

/* desktop */
@media (min-width: 82em) {
    .pdfWrapper {
        width: 34%;
        height: 100%;
    }
}